body {
	margin: 0;
	color: #484848;
}

ul {list-style-type: none;}


/*-----------------------------------Smartphone---------------------------------------------*/

/*------------------------------------HEADER-------------------------------------------------*/

header {
	height: 60px;
}


header img {
	position: relative;
	left: 8%;top: 12px;
}

nav {
	display: none;
}

/*-------------------------------------MAIN--------------------------------------------------*/

main div input {
	display: none;
}

.tablette {
	display: none;
}

.pc {
	display: none;
}

h1 {
	position: relative;
	left: 6%;
	height: 123px;
	width: 90%;
	font-size: 22px;
	line-height: 30px;
	font-weight: 300;
	color: #484849;
}

h1 span {
	color: red;
}

main ul {
	display: flex;
	overflow-x: scroll;
	overflow-y: auto;
	white-space: nowrap;
	padding: 0;
}

.color {
	color: #008489;
}

.grey {
	color: #484848;
}

main ul li {
	font-size: 11px;
	color: #008489;
	padding-bottom: 12px;
	border-bottom: 2px solid #008489;
	margin: 0 16px 0 0;
	font-weight: 700;
}

main div {
	position: relative;
	top: 53px;
	height: 100px;
	width: 90%;
	left: 6%;
}

main div button {
	width: 79%;
	height: 40px;
	position: relative;
	left: 13%;
	font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

main div button img {
	vertical-align: middle;
}

main div button span {
	vertical-align: middle;
}

section {
	position: relative;
	top: 9px;
}

section h2 {
	position: relative;
	width: 90%;
	left: 6%;
	font-size: 20px;
}

section div {
	display: flex;
	height: 80%;
	top: 0px;
	overflow-y: hidden;
	overflow-x: auto;
}

section figure {
	position: relative;
	margin: auto;
	bottom: 8%;
	padding: 8% 2%;
}

section figure figcaption img {
	position: relative;
	margin: auto;
}

section figure figcaption span {
	font-size: 15px;
	font-weight: 700;
}

section figure figcaption p {
	font-size: 15px;
}
